<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5b8a8">  <td>24/01/30 16:48:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookLogin.login_tc(java.lang.String,java.lang.String)[pri:0, instance:testCases.FacebookLogin@41a0aa7d]">login_tc</td> 
  <td>main@403170294</td>   <td></td> </tr>
<tr bgcolor="a5b8a8">  <td>24/01/30 16:48:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookLogin.login_tc(java.lang.String,java.lang.String)[pri:0, instance:testCases.FacebookLogin@41a0aa7d]">login_tc</td> 
  <td>main@403170294</td>   <td></td> </tr>
<tr bgcolor="a5b8a8">  <td>24/01/30 16:48:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookLogin.login_tc(java.lang.String,java.lang.String)[pri:0, instance:testCases.FacebookLogin@41a0aa7d]">login_tc</td> 
  <td>main@403170294</td>   <td></td> </tr>
<tr bgcolor="a5b8a8">  <td>24/01/30 16:48:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookLogin.login_tc(java.lang.String,java.lang.String)[pri:0, instance:testCases.FacebookLogin@41a0aa7d]">login_tc</td> 
  <td>main@403170294</td>   <td></td> </tr>
<tr bgcolor="d4f8f5">  <td>24/01/30 16:48:09</td>   <td>-4714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:testCases.FacebookLogin@41a0aa7d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@403170294</td>   <td></td> </tr>
<tr bgcolor="d4f8f5">  <td>24/01/30 16:48:09</td>   <td>-4714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:testCases.FacebookLogin@41a0aa7d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@403170294</td>   <td></td> </tr>
<tr bgcolor="d4f8f5">  <td>24/01/30 16:48:09</td>   <td>-4714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:testCases.FacebookLogin@41a0aa7d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@403170294</td>   <td></td> </tr>
<tr bgcolor="d4f8f5">  <td>24/01/30 16:48:09</td>   <td>-4714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:testCases.FacebookLogin@41a0aa7d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@403170294</td>   <td></td> </tr>
<tr bgcolor="d4f8f5">  <td>24/01/30 16:48:18</td>   <td>4484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:testCases.FacebookLogin@41a0aa7d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@403170294</td>   <td></td> </tr>
<tr bgcolor="d4f8f5">  <td>24/01/30 16:48:18</td>   <td>4484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:testCases.FacebookLogin@41a0aa7d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@403170294</td>   <td></td> </tr>
<tr bgcolor="d4f8f5">  <td>24/01/30 16:48:18</td>   <td>4484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:testCases.FacebookLogin@41a0aa7d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@403170294</td>   <td></td> </tr>
<tr bgcolor="d4f8f5">  <td>24/01/30 16:48:18</td>   <td>4484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:testCases.FacebookLogin@41a0aa7d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@403170294</td>   <td></td> </tr>
</table>
