<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>stepDefinitions.SpiceJetAutomation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>spice_jet_application_url</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>quiting_the_driver</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>autoamting_the_required_field</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>send_the_request</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>stepDefinitions.ActionClassautomation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>flipcart_application_to_test</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>automated_drag_and_drop_feature</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>launch_flipcart_application</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>automating_right_click_double_click_and_upper_case_option</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>launch_another_application_globalsqa</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>stepDefinitions.IRCTC_Automation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quiting_the_browser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>automating_to_from_select_coach_select_class_options</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>irctc_application_to_test_launch_browser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>launch_the_url_of_irctc_application</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>stepDefinitions.MSRTC_Automation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>msrtc_application_to_test_launch_browser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>automating_to_from_and_date_web_element_options</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>launch_the_url_of_msrtc_application</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>quiting_the_msrtc_browser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
