<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="647f75">  <td>24/01/17 20:23:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IRCTC_Automation.automating_to_from_select_coach_select_class_options()[pri:8, instance:stepDefinitions.IRCTC_Automation@3012646b]">automating_to_from_select_coach_select_class_options</td> 
  <td>main@170052458</td>   <td></td> </tr>
<tr bgcolor="647f75">  <td>24/01/17 20:22:58</td>   <td>-12193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IRCTC_Automation.launch_the_url_of_irctc_application()[pri:7, instance:stepDefinitions.IRCTC_Automation@3012646b]">launch_the_url_of_irctc_application</td> 
  <td>main@170052458</td>   <td></td> </tr>
<tr bgcolor="b19bbd">  <td>24/01/17 20:22:24</td>   <td>-46269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpiceJetAutomation.autoamting_the_required_field()[pri:17, instance:stepDefinitions.SpiceJetAutomation@771a660]">autoamting_the_required_field</td> 
  <td>main@170052458</td>   <td></td> </tr>
<tr bgcolor="b19bbd">  <td>24/01/17 20:22:12</td>   <td>-58219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpiceJetAutomation.send_the_request()[pri:16, instance:stepDefinitions.SpiceJetAutomation@771a660]">send_the_request</td> 
  <td>main@170052458</td>   <td></td> </tr>
<tr bgcolor="b19bbd">  <td>24/01/17 20:22:10</td>   <td>-60357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpiceJetAutomation.spice_jet_application_url()[pri:15, instance:stepDefinitions.SpiceJetAutomation@771a660]">spice_jet_application_url</td> 
  <td>main@170052458</td>   <td></td> </tr>
<tr bgcolor="bce87c">  <td>24/01/17 20:22:37</td>   <td>-33875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ActionClassautomation.automating_right_click_double_click_and_upper_case_option()[pri:3, instance:stepDefinitions.ActionClassautomation@52719fb6]">automating_right_click_double_click_and_upper_case_option</td> 
  <td>main@170052458</td>   <td></td> </tr>
<tr bgcolor="bce87c">  <td>24/01/17 20:22:56</td>   <td>-14392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ActionClassautomation.automated_drag_and_drop_feature()[pri:5, instance:stepDefinitions.ActionClassautomation@52719fb6]">automated_drag_and_drop_feature</td> 
  <td>main@170052458</td>   <td></td> </tr>
<tr bgcolor="647f75">  <td>24/01/17 20:23:18</td>   <td>7682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IRCTC_Automation.quiting_the_browser()[pri:9, instance:stepDefinitions.IRCTC_Automation@3012646b]">quiting_the_browser</td> 
  <td>main@170052458</td>   <td></td> </tr>
<tr bgcolor="75d2d7">  <td>24/01/17 20:23:30</td>   <td>19310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MSRTC_Automation.automating_to_from_and_date_web_element_options()[pri:13, instance:stepDefinitions.MSRTC_Automation@4a883b15]">automating_to_from_and_date_web_element_options</td> 
  <td>main@170052458</td>   <td></td> </tr>
<tr bgcolor="75d2d7">  <td>24/01/17 20:23:19</td>   <td>8114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MSRTC_Automation.msrtc_application_to_test_launch_browser()[pri:11, instance:stepDefinitions.MSRTC_Automation@4a883b15]">msrtc_application_to_test_launch_browser</td> 
  <td>main@170052458</td>   <td></td> </tr>
<tr bgcolor="b19bbd">  <td>24/01/17 20:22:31</td>   <td>-40110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpiceJetAutomation.quiting_the_driver()[pri:18, instance:stepDefinitions.SpiceJetAutomation@771a660]">quiting_the_driver</td> 
  <td>main@170052458</td>   <td></td> </tr>
<tr bgcolor="bce87c">  <td>24/01/17 20:22:31</td>   <td>-39777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ActionClassautomation.flipcart_application_to_test()[pri:1, instance:stepDefinitions.ActionClassautomation@52719fb6]">flipcart_application_to_test</td> 
  <td>main@170052458</td>   <td></td> </tr>
<tr bgcolor="bce87c">  <td>24/01/17 20:22:32</td>   <td>-38608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ActionClassautomation.launch_flipcart_application()[pri:2, instance:stepDefinitions.ActionClassautomation@52719fb6]">launch_flipcart_application</td> 
  <td>main@170052458</td>   <td></td> </tr>
<tr bgcolor="bce87c">  <td>24/01/17 20:22:44</td>   <td>-26471</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ActionClassautomation.launch_another_application_globalsqa()[pri:4, instance:stepDefinitions.ActionClassautomation@52719fb6]">launch_another_application_globalsqa</td> 
  <td>main@170052458</td>   <td></td> </tr>
<tr bgcolor="75d2d7">  <td>24/01/17 20:23:20</td>   <td>9290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MSRTC_Automation.launch_the_url_of_msrtc_application()[pri:12, instance:stepDefinitions.MSRTC_Automation@4a883b15]">launch_the_url_of_msrtc_application</td> 
  <td>main@170052458</td>   <td></td> </tr>
<tr bgcolor="647f75">  <td>24/01/17 20:22:57</td>   <td>-13422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IRCTC_Automation.irctc_application_to_test_launch_browser()[pri:6, instance:stepDefinitions.IRCTC_Automation@3012646b]">irctc_application_to_test_launch_browser</td> 
  <td>main@170052458</td>   <td></td> </tr>
<tr bgcolor="75d2d7">  <td>24/01/17 20:23:33</td>   <td>22250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MSRTC_Automation.quiting_the_msrtc_browser()[pri:14, instance:stepDefinitions.MSRTC_Automation@4a883b15]">quiting_the_msrtc_browser</td> 
  <td>main@170052458</td>   <td></td> </tr>
</table>
