<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7acd7b">  <td>24/01/17 17:03:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpiceJet.SpiceJet_TC()[pri:4, instance:SeleniumIntegratedWithTestNg.SpiceJet@2ed2d9cb]">SpiceJet_TC</td> 
  <td>main@1401316767</td>   <td></td> </tr>
<tr bgcolor="7acd7b">  <td>24/01/17 17:03:10</td>   <td>-3937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SpiceJet.launchBrowser()[pri:0, instance:SeleniumIntegratedWithTestNg.SpiceJet@2ed2d9cb]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td>  <td>main@1401316767</td>   <td></td> </tr>
<tr bgcolor="7acd7b">  <td>24/01/17 17:03:14</td>   <td>70</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SpiceJet.quitDriver()[pri:0, instance:SeleniumIntegratedWithTestNg.SpiceJet@2ed2d9cb]">&lt;&lt;quitDriver</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
