<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3a2be">  <td>24/01/16 22:05:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MSRTCpage.MSRTC_TC()[pri:3, instance:SeleniumIntegratedWithTestNg.MSRTCpage@5b03b9fe]">MSRTC_TC</td> 
  <td>main@750029115</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>24/01/16 22:05:10</td>   <td>-46165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlipcartActionsClass.MSRTC_TC()[pri:3, instance:SeleniumIntegratedWithTestNg.FlipcartActionsClass@58d75e99]">MSRTC_TC</td> 
  <td>main@750029115</td>   <td></td> </tr>
<tr bgcolor="97bc88">  <td>24/01/16 22:05:39</td>   <td>-17073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IRCTCpage.IRCTC_TC()[pri:1, instance:SeleniumIntegratedWithTestNg.IRCTCpage@57cf54e1]">IRCTC_TC</td> 
  <td>main@750029115</td>   <td></td> </tr>
</table>
