<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7acd7b">  <td>24/01/26 13:08:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;facebookLogin.setUp()[pri:0, instance:pageTest.facebookLogin@29215f06]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@391183339</td>   <td></td> </tr>
<tr bgcolor="7acd7b">  <td>24/01/26 13:08:07</td>   <td>4465</td> <td>&nbsp;</td><td title="&lt;&lt;facebookLogin.tearDown()[pri:0, instance:pageTest.facebookLogin@29215f06]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@391183339</td>   <td></td> </tr>
<tr bgcolor="7acd7b">  <td>24/01/26 13:08:06</td>   <td>2924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="facebookLogin.testMethod()[pri:0, instance:pageTest.facebookLogin@29215f06]">testMethod</td> 
  <td>main@391183339</td>   <td></td> </tr>
</table>
