<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="abb66f">  <td>24/01/17 12:31:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IRCTCpage.IRCTC_TC()[pri:1, instance:SeleniumIntegratedWithTestNg.IRCTCpage@57cf54e1]">IRCTC_TC</td> 
  <td>main@750029115</td>   <td></td> </tr>
<tr bgcolor="a5a992">  <td>24/01/17 12:31:54</td>   <td>19933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MSRTCpage.MSRTC_TC()[pri:3, instance:SeleniumIntegratedWithTestNg.MSRTCpage@5b03b9fe]">MSRTC_TC</td> 
  <td>main@750029115</td>   <td></td> </tr>
<tr bgcolor="7acd7b">  <td>24/01/17 12:31:09</td>   <td>-24748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlipcartActionsClass.MSRTC_TC()[pri:3, instance:SeleniumIntegratedWithTestNg.FlipcartActionsClass@58d75e99]">MSRTC_TC</td> 
  <td>main@750029115</td>   <td></td> </tr>
<tr bgcolor="97bc88">  <td>24/01/17 12:32:19</td>   <td>44378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpiceJet.SpiceJet_TC()[pri:4, instance:SeleniumIntegratedWithTestNg.SpiceJet@37d4349f]">SpiceJet_TC</td> 
  <td>main@750029115</td>   <td></td> </tr>
</table>
